{% extends "base.html.twig" %}
{% block style %}<link href="css/style-signin.css" rel="stylesheet"> {% endblock %}
{% block title %} {{ parent() }} Modifier un utilisateur {% endblock %}

{% block contenu %}
    <div style="padding-top: 5%">

        {% if form.utilisateur is defined %}
            {% if form.utilisateur != null %}
                <form class="form-signin" action="index.php?page=modifprofil" method="post"
                      enctype="application/x-www-form-urlencoded">
                    <div style="padding-left: 30%">
                        <h1 class="h3 mb-3 font-weight-normal">Modifier un utilisateur</h1>
                    </div>
                    <label for="inputPassword" class="sr-only">Modifier le mot de passe:</label>
                    <input type="password" id="inputPassword" name="mdp" class="form-control" placeholder="Modifier le mot de passe">
                    <label for="inputPassword2" class="sr-only">Confirmation du mot de passe:</label>
                    <input type="password" id="inputPassword2" name="mdp2" class="form-control" placeholder="Confirmation mot de passe">
                    <label for="inputName" class="sr-only">Nom :</label>
                    <input type="text" id="inputName" name="nom" class="form-control" placeholder="Nom" value="{{form.utilisateur.nom}}" required>
                    <label for="inputName" class="sr-only">Prénom :</label>
                    <input type="prenom" id="inputName" name="prenom" class="form-control" placeholder="Prenom"  value="{{form.utilisateur.prenom}}" required>
                    <select class="form-control" name="role">
                        { {% for r in form.roles %}
                            {% if r.id==form.utilisateur.idRole %} <!--selected permet de choisir une ligne par defaut dans une liste déroulante -->
                                <option value="{{ r.id }}" selected>{{ r.libelle }}</option>
                            {% else %}
                                <option value="{{ r.id }}">{{ r.libelle }}</option>
                            {% endif %}
                        {% endfor %}

                    </select>
                    <input type="hidden" name="email" value="{{ form.utilisateur.email }}"/>
                    <button class="btn btn-lg btn-primary btn-block" type="submit" name="btModifier">Modifier</button>

                </form>

            {% else %}
                <h1 class="alert alert-danger" role="alert">{{ form.message }}</h1>
                <h1 class="h3 mb-3 font-weight-normal"><a href="index.php?page=profil">Retourner sur mon profil</a></h1>
            {% endif %}
        {% else %}
            {% if form.valide == true %}
                <h1 class="h3 mb-3 font-weight-normal">{{ form.message }} </h1>
                <h1 class="h3 mb-3 font-weight-normal"><a href="index.php?page=profil">Retourner sur mon profil</a></h1>
            {% else %}
                <h1 class="alert alert-danger" role="alert">{{ form.message }}</h1>
                <h1 class="h3 mb-3 font-weight-normal"><a href="index.php?page=profil">Retourner sur mon profil</a></h1>
            {% endif %}
        {% endif %}
    </div>

{% endblock %}
